body {
	background-color: #FF8080;
	background-color: pink;
	background-color: rgb(255, 120, 10);
	background-color: rgba(255, 0, 0, 0.2);
}
.sessao-1 {
	text-align: center;
	font-family: arial;
	border: solid 10px;
	border-color: red black;
}
.sessao-1 h2 {
	color:blue;
}
.sessao-1 p {
	color:purple;
font-size: 27px
}
.sessao-2 {
	font-family: arial;
}
.sessao-2 h2{
	color:yellow;
}
.sessao-2 h3{
	color:brown;
}
	.cor {
	font-family: arial;
	color:green;
}
.marrom {
	color:brown;
	font-size: 30px;
	font-family: arial;
	text-align: right;
}
#exemplo {
	color:orange;
	font-family: arial;
	text-align: right;
}