body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #023047;
    background-color: #ffedd7;
}

.titulo {
    text-align: center;
    font-family: arial;
    font-size: 20px;
    margin-top: 0px;
}

.subtitulo {
    text-align: center;
    font-family: arial;
    font-size: 18px;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #ffedd7;
}

.formLogin {
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: #fff;
    border-radius: 6px;
    padding: 90px;
    gap: 5px;
}

.areaLogin img {
    width: 420px;
}

.formLogin h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formLogin p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}


.formLogin input:focus {
    border: 1px solid #2c302c;
}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
}

.formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
}

.formLogin a:hover {
    color: #2c302c;
}

.btn {
    background-color: #2c302c;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;

}

.btn:hover {
    transform: scale(1.04);
    background-color: #2c2629;
}

.cadastro {
    display: flex;
    align-items: center;
    margin-left: 38%;
    order: 0;
    font-family: arial;
    font-size: 15px;
}

.cadastre-se {
    color: blue;
    display: flex;
    align-items: center;
    margin-left: 44%;
}

.cadastre-se:hover {
    color: rgb(0, 81, 255);
}
